<!DOCTYPE html>
<html lang="es">
  <head>
    <% include ./partials/head %>
    <% include ./partials/structured_data %>
    <meta name="application-name" content="Contacto Legislativo">
    <meta name="description" content="Diputado de  <%- deputy.type.toLowerCase() %> en la LXIII legislatura de la Cámara de diputados para el estado de <%- deputy.state %>, Distrito <%- deputy.area %>, <%- deputy.party.toUpperCase()%> | Contacto Legislativo te provee un análisis estadístico de su desempeño.">

    <meta name="deputy-id" value="<%- deputy.SeatId %>">
    <meta name="deputy-name" value="<%- deputy.displayName %>">
    <meta name="deputy-slug" value="<%- deputy.slug %>">
    <meta name="deputy-party" value="<%- deputy.party %>">
    <meta name="deputy-email" value="<%- deputy.email %>">
    <meta name="deputy-facebook" value="<%- deputy.facebook %>">
    <meta name="deputy-twitter" value="<%- deputy.twitter %>">
  </head>

  <body>
    <nav class="stack-fix navbar navbar-expand-lg navbar-dark navbar-transparent">
      <% include ./partials/lean_nav %>
    </nav>

    <div class="main-section">
      <div class="d-card">
        <div class="header">
          <div class="picture">
            <div class="main red">
              <img alt="Diputado <%- deputy.displayName%>" src="<%- `/assets/img/deputies/${deputy.slug}.jpg` %>"/>
            </div>
            <img class="secondary" alt="logo partido <%- deputy.party%>" src="<%- `/assets/img/${deputy.party}.png` %>"/>
          </div>
        </div>
        <h1 class="h3 title"><%- deputy.displayName %></h1>
        <h6 class="h6 t-s">Suplente: <%- alternate.displayName%>
          <%if (alternate.attendances > 0) { %>
            <a href="/camara-de-diputados/LXIII/<%- alternate.slug%>">(<%- alternate.attendances%> Asistencias)</a>
          <% } %>
        </h6>
        <h1 class="h4 t-s"><i class="fa fa-map-marker pr-2"></i> <%- deputy.state %>, Distrito <%- deputy.area %></h1>
        <h4 class="h4 t-s"><%- deputy.type %></h3>
        <ul class="btn-group mt-4 p-0">
          <li class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Curricula">
            <a target="_blank" href="http://sitl.diputados.gob.mx/LXIII_leg/curricula.php?dipt=<%- deputy.id %>"><i class="fa fa-user"></i></a></li>
          <li class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Perfil">
            <a target="_blank" href="<%- deputy.profile %>"><i class="fa fa-university"></i></a></li>
          <li class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Correo">
            <a target="_blank" href="mailto:<%- deputy.email %>"><i class="fa fa-envelope"></i></a></li>
          <li class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Facebook">
            <%if (deputy.facebook === 'NA') { %>
              <a target="_blank" href="https://www.google.com.mx/search?q=<%-encodeURI(deputy.displayName + ' diputado facebook') %>"><i class="fa fa-facebook"></i></a>
            <% } else { %>
              <a target="_blank" href="<%- deputy.facebook %>"><i class="fa fa-facebook"></i></a>
            <% } %>
          </li>
          <li class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Twitter">
            <%if (deputy.twitter === 'NA') { %>
              <a target="_blank" href="https://www.google.com.mx/search?q=<%-encodeURI(deputy.displayName  + ' diputado twitter') %>"><i class="fa fa-twitter"></i></a>
            <% } else { %>
              <a target="_blank" href="<%- deputy.twitter %>"><i class="fa fa-twitter"></i></a>
            <% } %>
          </li>
        </ul>
      </div>
    </div>
    <div class="attendance secondary-section">

    </div>
    <script async src="/assets/js/deputy.bundle.js"></script>
  </body>
</html>
