<!DOCTYPE html>
<html lang="es">
  <head>
    <% include ./partials/head %>
    <% include ./partials/structured_data %>
    <meta name="application-name" content="Contacto Legislativo">
    <meta name="keywords" content="Camara de diputados, Mexico, Legislatura LXIII, diputado federal, representante, legislador" />
    <meta name="description" content="Dip.<%- deputy.displayName %>, <%- deputy.state %>, Distrito <%- deputy.area %>, Camara de diputados, LXIII | Contacto Legislativo te ayuda a ubicar a tu diputado federal de una manera sencilla y a ver su desempeño.">

    <meta name="deputy-id" value="<%- deputy.SeatId %>">
    <meta name="deputy-name" value="<%- deputy.displayName %>">
    <meta name="deputy-picture" value="<%- deputy.picture %>">
    <meta name="deputy-party" value="<%- deputy.party %>">
    <meta name="deputy-email" value="<%- deputy.email %>">
    <meta name="deputy-facebook" value="<%- deputy.facebook %>">
    <meta name="deputy-twitter" value="<%- deputy.twitter %>">
  </head>

  <body>
    <nav class="stack-fix navbar navbar-expand-lg navbar-dark navbar-transparent">
      <% include ./partials/lean_nav %>
    </nav>

    <div class="main-section">
      <div class="d-card">
        <div class="header">
          <div class="picture">
            <div class="main red">
              <img src="http://sitl.diputados.gob.mx/LXIII_leg/<%- deputy.picture %>"/>
            </div>
            <img class="secondary" src="<%- `http://${host}/assets/img/${deputy.party}.png` %>"/>
          </div>
        </div>
        <h1 class="h3 title"><%- deputy.displayName %> <a href="http://sitl.diputados.gob.mx/LXIII_leg/curricula.php?dipt=<%- deputy.id %>" target="_blank"><i class="fa fa-external-link"></i></a></h1>
        <h6 class="h6 t-s">Suplente: <%- alternate.displayName%>
          <%if (alternate.attendances > 0) { %>
            <a href="/legislatura/LXIII/diputado/<%- alternate.slug%>">(<%- alternate.attendances%> Asistencias)</a>
          <% } %>
        </h6>
        <h1 class="h4 t-s"><i class="fa fa-map-marker pr-2"></i> <%- deputy.state %>, Distrito <%- deputy.area %></h1>
        <h4 class="h4 t-s"><%- deputy.type %></h3>
        <ul class="btn-group mt-4 p-0">
          <li class="circle-btn"><a target="_blank" href="mailto:<%- deputy.email %>"><i class="fa fa-envelope"></i></a></li>
          <li class="circle-btn"><a target="_blank" href="<%- deputy.facebook %>"><i class="fa fa-facebook"></i></a></li>
          <li class="circle-btn"><a target="_blank" href="<%- deputy.twitter %>"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="attendance secondary-section">

    </div>


    <% include ./partials/foot %>
    <script src="/assets/js/deputy.bundle.js"></script>
  </body>
</html>
